<div id="following_message" style="float:right;padding-right:7px;">
	<% if user_signed_in? %>
		<% if current_user.following_relationships.find_by_followed_id_and_followed_type(@user.id, "User").nil? %>
			<%= render :partial => 'follows/follow_user_button'%>
		<% else %>
			<%= render :partial => 'follows/abandon_user_button'%>
		<% end %>
	<% else %>
		<%= button_to_function 	" ", 
						"signUp();", 
						:class=>"not_following_button", 
						:id=>"start_following"
		%>
	<% end %>
</div>