<div class="span-6" id="menu-left">

<ul class="bottom-line">
	<li><a href="about_us">About Us</a></li>
	<li>
    	<ul>
        	<li><a href="quickstart_guide">Quickstart Guide</a></li>
    		<li><a href="tips">vChatter Tips</a></li>
    		<li><a href="community_guidelines">Community Guidlines</a></li>
    		<li><a href="contact_us">Contact Us</a></li>
        </ul>
	</li>
    <li><a href="jobs">Careers</a></li>
    <li><a href="press">Press</a></li>
    <li><a href="help">Help</a></li>
    <li><a href="advertising">Advertising</a></li>
    
</ul>
<hr class="space"/>
<h2>Quick Facts</h2>
<p class="bottom-line">
Started may 2010
Became the #1 video chatting service on Facebook in its first month. Users have placed over X- number of calls.
</p>
<a href="http://www.facebook.com/vChatter"><img src="/images/sticky2_assets/aboutus/follow-facebook.gif" width="170" height="60" alt="Join us on Facebook Fans"></a><hr class="space"/>
<a href="http://twitter.com/vchatter"><img src="/images/sticky2_assets/aboutus/follow-twitter.gif" width="170" height="60" alt="Follow us on Twitter"></a>
<hr class="space" />
</div>
