<div class="span-20">

<%= render :partial => "verticalmenu"%>

<div class="span-13 last" id="info-right">
<h2>About Us</h2>
<p>vChatter is group video chatting that's simplified, fun and free. </p>
 
<ul>
<li>Talk with friends. </li>
<li>Talk with people that share your interests and values. </li>
<li>create your own groups on vchatter.com, Facebook, or your own website or blog. </li>
 
<li>Or simply watch. We think you'll be inspired to join the conversation.</li>
</ul>
 
<p>Got something to say? Then, vChatter now!</p>
<a href="quick-start-guide.html"><img src="/images/sticky2_assets/aboutus/quickstartguide.jpg" width="229" height="85" alt="Quick Start Guide For vChatter"></a>
<a href="tips.html"><img src="/images/sticky2_assets/aboutus/vchatter-tips.jpg" width="229" height="85" alt="vChatter Tips"></a>
<hr class="space"/>
<a href="community-guidelines.html"><img src="/images/sticky2_assets/aboutus/community-guidelines.jpg" width="229" height="85" alt="vChatter Community Guidelines"></a>
<a href="contactus.html"><img src="/images/sticky2_assets/aboutus/contactus.jpg" width="229" height="85" alt="Contact vChatter"></a>

<!--~~~~~~~~~~~~~~BRANDS STARTS HERE~~~~~~~~~~~~~~-->	
   	  
<hr class="space">
<hr class="space">      
   	  <h2>As seen on:</h2> <a href="http://www.fastcompany.com/1674711/chatroulette-comes-under-fire-vchatter-responds-with-family-safe-service" target="_blank"><img src="/images/sticky2_assets/aboutus/fast-company.jpg" width="109" height="36" alt="FastCompany" /></a> &nbsp;&nbsp;
      
      <a href="http://techcrunch.com/2010/09/21/vchatter-launches-a-pg-rated-version-of-chatroulette/" target="_blank"><img src="/images/sticky2_assets/aboutus/tech-crunch.jpg" width="109" height="36" alt="TechCrunch" /></a>&nbsp;&nbsp;
      
      <a href="http://venturebeat.com/2010/09/21/vchatter-video-chat/" target="_blank"><img src="/images/sticky2_assets/aboutus/venture-beat.jpg" width="109" height="36" alt="Venturebeat" /></a>&nbsp;&nbsp;

      <a href="http://edition.cnn.com/2010/TECH/innovation/10/01/vchatter.facebook/" target="_blank"><img src="/images/sticky2_assets/aboutus/cnn.jpg" width="63" height="36" alt="CNN" /></a>
       
      </div>

</div>
