<div class="span-20">

<%= render :partial => "verticalmenu"%>


<div class="span-13 last" id="info-right">
<h2>Community Guidelines</h2>
<p>Use vChatter to connect with friends as well as new people that share your interests and values. We want to make this as easy as possible in a safe and fun environment.  We hope you follow these guidelines to help us make vChatter serve you better:</p>
<h3>Be who you really are:</h3> <p>Stand up and be proud of yourself. Don't use a fake identity. Let people know who you and you'll be more trustworthy to others. This will help foster friendships and increase the number of those following you.</p>

<h3>It's ok to chat and smile:</h3> <p>You're on camera so smile and be nice. Seek to make friends while adding your unique and valuable insights to the conversation.</p>

<h3>Explore and discover:</h3> <p>You have your established interests but there's a big world out there. Take some time to get out of your routine and see what other groups are talking about.</p>


       
      </div>

</div>