<div class="span-20">
<%= render :partial => "verticalmenu"%>


<div class="span-13 last" id="info-right">
<h2>Contact us</h2>
<p>We would love to hear from you. Please email us with the appropriate email address below.</p>
<p>Have a general inquiry or comment? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:info@vchatter.com">info@vchatter.com</a></p>

<p>Want to partner with us or have a business idea? &nbsp;&nbsp;&nbsp;<a href="mailto:businessdevelopment@vchatter.com">businessdevelopment@vchatter.com</a></p>

<p>Have a product-related suggestion or want a bug fixed? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:support@vchatter.com">support@vchatter.com</a></p>

<p>Want to write a story about us? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:media@vchatter.com">media@vchatter.com</a></p>

<p>Have a general inquiry or comment? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:info@vchatter.com">info@vchatter.com</a></p>
<hr class="space">
<h2>Address:</h2> 
<p><strong>vChatter, Inc.</strong><br/>
<strong>181 Second Avenue, Suite 307</strong><br/>
<strong>San Mateo, CA 94401</strong><br/><br/>
 
<strong>Phone</strong><br/>
(<strong>650) 347-3507</strong></p>
       
      </div>

</div>
