<div class="span-20">

<%= render :partial => "verticalmenu"%>


<div class="span-13 last" id="info-right">
<h2><a id="backtotop"></a>Help</h2>
<p>Found a bug or need support using vChatter? Please email us at <a href="mailto:info@vchatter.com">support@vchatter.com</a></p>
<hr class="space">
<h2>FAQ</h2>
<h3><a href="#IsvChatterfreetouse">Is vChatter free to use?</a></h3><br/>
<h3><a href="#FacebookorTwitter">Why do you ask for my Facebook or Twitter information?</a></h3><br/>
<h3><a href="#privateinformation">Does vChatter safeguard my private information?</a></h3><br/>
<h3><a href="#groups">How many groups can I create?</a></h3><br/>
<h3><a href="#passwordprotected">Can I create a group that is password-protected?</a></h3><br/>
<h3><a href="#followers">Can I call my Facebook friends or Twitter followers?</a></h3><br/>
<h3><a href="#deleteaccount">How do I delete my account?</a></h3><br/>
<h3><a href="#browsercrashes">My browser crashes when using vChatter. </a></h3><br/>
<h3><a href="#banned">I have been banned by vChatter. Is this ban permanent?</a></h3><br/>
<h3><a href="#cameraaccesspermission">Every time I want to video chat, I see the flash camera access permission window.</a></h3><br/>
<h2 class="bottom-line"></h2>

<h3><a id="IsvChatterfreetouse"></a>Is vChatter free to use?</h3>
<p>Yes, itís completely free!</p>

<h3><a id="FacebookorTwitter"></a>Why do you ask for my Facebook or Twitter information?</h3>
<p>Getting permission to access some of your Facebook or Twitter information allows us to match you with other vChatter users and groups better. It also allows you to transfer some of your information into your vChatter profile which makes you more trustworthy to other vChatter users. Finally, it also allows us to communicate with you on Facebook and Twitter. </p>
 
<h3><a id="privateinformation"></a>Does vChatter safeguard my private information?</h3>
<p>Yes, we take safeguarding your private information very seriously. We empower you with privacy controls so that you only share the information that you want to share.   Your privacy controls are in our privacy settings.</p>
 
<h3><a id="groups"></a>How many groups can I create?</h3>
<p>There is no limit on the number of groups you can create.</p>
 
<h3><a id="passwordprotected"></a>Can I create a group that is password-protected?</h3>
<p>Yes. If you want to password-protect a group, your group will not appear in the search results or be viewable in the directory.</p>
 
<h3><a id="followers"></a>Can I call my Facebook friends or Twitter followers?</h3>
<p>Yes, you can call your Facebook friends and Twitter followers when using vChatter.</p>
 
<h3><a id="block"></a>Can I block people from calling or contacting me?</h3>
<p>Use your privacy settings to block or limit how certain people contact you.</p>
 
<h3><a id="deleteaccount"></a>How do I delete my account?</h3>
<p>Just go to your account settings and confirm the deletion of your account.</p>
 
<h3><a id="browsercrashes"></a>My browser crashes when using vChatter.</h3> 
<p>There could be many reasons why your browser is crashing but a few possible reasons are:</p>
<ul>
<li>Your drivers to your webcam may be out of date.  Please check your camera manufacturerís website for new drivers.</li>
 
<li>Your version of flash may be outdated. Check the current version by clicking the following link <a href="http://kb2.adobe.com/cps/155/tn_15507.html">http://kb2.adobe.com/cps/155/tn_15507.html</a> - If its outdated, you can get the latest flash player at <a href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a></li>
 
<li>Your web browser may be out of date. Update it, or try out Google chrome which comes with Flash and automatically keeps it updated.</li>
 
<li>Ensure that another program is not using your computer camera. Close other video chat programs like Skype, Yahoo Messenger, Google Chat, etc.  Then relaunch vChatter.</li>
 
<li>You may need to allow your browser to have access through your firewall. You can see instructions for doing this on windows by clicking the following link 
	<a href="http://support.mozilla.com/en-US/kb/Configuring%20Windows%20Firewall">
		http://support.mozilla.com/en-US/kb/Configuring%20Windows%20Firewall
	</a>
</li>
</ul>
 
<h3><a id="banned"></a>I have been banned by vChatter. Is this ban permanent?</h3>
<p>Yes. So, please behave appropriatly so you can use vChatter.</p> 
 
<h3><a id="cameraaccesspermission"></a>Every time I want to video chat, I see the flash camera access permission window.</h3>
<p>To avoid having to deal with this permission window more than once, click:
http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager06.html
 
Then, first choose "vchatter.com" from the list and then click "Always allow".</p>
<img src="/images/sticky2_assets/help/camera-permission.gif" width="479" height="679" alt="camera access permission for vChatter">
<a href="#backtotop" style="float:right;">Back to Top ^</a></div>

</div>
