<!--INSIDE BODY CONTENT STARTS HERE-->
<div class="span-20">
<%= render :partial => "verticalmenu"%>

<div class="span-13 last" id="info-right">
<h2><a id="backtotop"></a>Careers</h2>
<h3>Current Openings</h3>
<hr class="space">
<a href="#ServersideEngineer">Server side developer</a><br/><br/>
<a href="#FrontendEngineer">Front-end developer</a><br/><br/>
<a href="#FlexDeveloper">Flex developer</a><br/><br/>
<hr class="space">
<h2>Working At vChatter</h2>
          <p>Join a highly collaborative team that's focused on creating a great product and valuable company.  You'll hit the ground running and resolve both small and large problems from day one. Each employee is crucial to the product and business and has an immediate and lasting impact on the company. If you enjoy working closely with a small but motivated team and desire to learn valuable new skills more quickly than practically anywhere else, come join us.</p>
<p>Please email your resume and cover letter to <a href="mailto:jobs@vchatter.com">jobs@vchatter.com</a>. </p>
<p>vChatter is based in downtown San Mateo, CA, two blocks away from the Caltrain station.</p>
  
  <h3 class="rule_above">We Offer:</h3>
  <ul>
    <li>    A challenging environment where you will quickly develop valuable new skills<span class="testimonial-light"></span></li>
    <li>The chance to work with a motivated and focused team</li>
    <li>Competitive salary with a meaningful stake in the company <br />
      <br />
      
    </li>
  </ul>
  <h3 class="rule_above">Facts:</h3>
  <ul>
    <li>Founded: 2010	</li>
    <li>4 million registered users</li>
    <li> 32 million calls made per month and increasing</li>
    <li> Led by founder of a leading online dating company in '90s (morphed into Match.com)</li>
    <li> Became #1 Facebook video chatting app in first month of its release<br />
    </li>
  </ul>
  <h2>Jobs</h2>
   	<h4 class="bottom-line">Engineering:</h4>
    	<h3 class="prepend-1"><a id="FrontendEngineer"></a>Front-end Engineer</h3>
    
    	  <ul class="prepend-2">
            <li>Experience developing with HTML, CSS, and JavaScript and enthusiasm for web standards</li>
            <li>Flex and Flash skills or interest to learn them</li>
            <li>Knowledge of JavaScript frameworks (e.g. jQuery)</li>
            <li>Knowledge of Ruby on Rails</li>
            <li>Most importantly, willingness to learn new skills and desire to solve problems in a collaborative environment</li>
            <li>Bachelors degree (or higher) in Computer Science or related technical degree</li>
            <li>Compensation: competitive salary + a meaningful options package</li>
      </ul>
          
     
     <h3 class="prepend-1"><a id="ServersideEngineer"></a>Server-side Engineer</h3>
    
    	  <ul class="prepend-2">
            <li>Experienced with Ruby on Rails, python or Java frameworks</li>
      		<li> Experienced with MySQL databasing </li>
      		<li> Knowledge or interest in data analytics with huge data sets; BigTable, Hadoop or MapReduce</li>
      		<li> Interested in machine learning and matching algorithms</li>
      		<li> Ability to communicate design decisions, code walk-throughs, and bugs thoroughly and concisely</li>
      		<li>Most importantly, willingness to learn new skills and desire to solve problems in a collaborative environment</li>
      		<li>Bachelors degree (or higher) in Computer Science or related technical degree</li>
      		<li>Compensation: competitive salary + a meaningful options package</li>
   	  </ul>
         
      <h3 class="prepend-1"><a id="FlexDeveloper"></a>Flex Developer</h3>
    
    	  <ul class="prepend-2">
            <li>Experienced in video, NetConnection, and NetStreams.</li>
      		<li>Knowledge of Facebook API's from Actionscript a plus.</li>
     		 <li>Comfortable with GUI design and event handling a must.</li>
     		 <li>Belief in test driven development is a great team fit.</li>
      		<li>It is fast paced and exciting work with almost instant feedback from the current user base.</li>
      		<li> We are pushing out updates up to five times a week and adding and subtracting features as we see what users like.</li>
      		<li>Bachelors degree (or higher) in Computer Science or related technical degree</li>
      		<li>Compensation: Competitive salary + a meaningful options package</li>
   	  </ul>
         
	<h4 class="bottom-line">Graphic Design:</h4>
    	<h3 class="prepend-1"><a id="GraphicDesigner"></a>Graphic Designer</h3>
    
    	  <ul class="prepend-2">
            <li>Experienced with Adobe CS5 Suite including: Illustrator, Photoshop, InDesign and Flash, or similar toolsets</li>
      		<li>Must be able to work well in extremely fast-paced environment with high volume of on-going projects and very fast turn-around</li>
      		<li>Great design and brand identity sensibilities with strong information design skills</li>
      		<li>Possess excellent organizational skills and high level of detail</li>
      		<li>Self-motivated, able to work with little supervision and have strong communication skills</li>
      		<li>Have a great UX eye; your input will have a defining influence on the look and feel of the vChatter product. </li>
      		<li> Interest in social graph and game mechanics designing is preferable but not necessary</li>
      		<li>Bachelors degree in Graphic Design or related studies</li>
      		<li>Compensation: competitive salary + a meaningful options package</li>
   	  </ul>
	<a href="#backtotop" style="float:right;">Back to Top ^</a></div>
       
  </div>

	
<!--INSIDE BODY CONTENT EDNS HERE-->
