<div class="span-7" id="friend_view_block">
	<div id="fiend_view_middle">
		<div style="margin-left: 15px; padding-top:2px;">
			<table>
				<tr>
					<td>
						<div>
							<table>
								<tr>
									<td>
										<div style="font-size:13px;">
											Video Chat Now 
										</div>
									</td>
									<td>
										<form><input type="text"></form>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="people_to_call">
						</div>
						
					</td>
				</tr>
				<tr>
					<td>
						<div style="font-size:11px;float:right;margin-right:8px;">
							See All
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="span-7" id="friend_view_bottom">
	</div>
</div>
