<hr class="space"/>
<hr class="space"/>
<hr class="space"/>
<hr class="space"/><hr class="space"/>
<hr class="space"/>
<!-- begin branding band - copied from existing site-->
<div class="span-24" id="brands">

   	  <span class="asseen">As seen on:</span> &nbsp;&nbsp;&nbsp;

      <a target="_blank" href="http://techcrunch.com/2010/09/21/vchatter-launches-a-pg-rated-version-of-chatroulette/"><img width="151" height="38" alt="TechCrunch" src="/images/press_coverage/tech-crunch.jpg"></a>

      <a target="_blank" href="http://www.fastcompany.com/1674711/chatroulette-comes-under-fire-vchatter-responds-with-family-safe-service"><img width="177" height="38" alt="FastCompany" src="/images/press_coverage/fast-company.jpg"></a>

      <a target="_blank" href="http://venturebeat.com/2010/09/21/vchatter-video-chat/"><img width="193" height="38" alt="Venturebeat" src="/images/press_coverage/venture-beat.jpg"></a>

      <a target="_blank" href="http://edition.cnn.com/2010/TECH/innovation/10/01/vchatter.facebook/"><img width="115" height="38" alt="CNN" src="/images/press_coverage/cnn.png"></a>
</div>
<!--end branding band-->